.teams {
  padding: 25px 45px;

  h1 {
    padding: 0px;
    font-size: 2.25rem;
    font-weight: bold;
  }

  ul {
    background-color: tomato;
    list-style-type: none;
    margin: 0 0 18px 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    list-style-position: outside;
    list-style-image: none;

    li {
      background-color: yellowgreen;
      margin: 0;
      padding-left: 0;

      a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: 15px;
        text-decoration: none;

        h3 {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
