.layout {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .container {
    flex: 1 1 auto;
    background-color: lightgreen;
    width: 960px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}
