.legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;

  .list {
    margin: 0px 0.725rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      margin: 0.125rem 0.625rem;
      white-space: nowrap;

      a:hover {
        color: #cccccc;
        text-decoration: none;
      }
    }
  }
}
